body{
    overflow: hidden !important; 

}

.c1{
    width: 50px;
}

.c2{
    width: 400px;
}

.c3{
    width: 100px;
}


.c4{
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.img_foto{
    width: 75px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 5px;
}


/*lista de contatos*/

#listaContatosForn{
    z-index: 1010101010;
}

.c1_lcf{
    width: 20px;
}

.c2_lcf{
    width: 200px;
}

.c3_lcf{
    width: 40px;
    display: flex;
    justify-content: space-around;
}

.tituloGrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul-principal) !important;
    color: #fff !important;
    padding: 0 !important;
}

.colunaTituloGrid {
    background-color: var(--azul-principal) !important; 
}


#dadosGrid_ContatosFornAdd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000 !important;
    padding: 0 !important;
}

.linhaGridForn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff !important;
    color: #000 !important;
    padding: 0 !important;
    border: 2px solid var(--azul-principal) !important;
}

.linhaGridForn:hover{
    background-color: var(--azul-principal) !important;
    color: #000 !important;
    
}

#dadosGrid_ContatosFornAdd .colunaLinhaGrid:hover{
    color: white !important;
    background-color: var(--azul-principal) !important;
}




/* numero de telefones */
#telefonesContForn{
    z-index: 101010101010;
}