@charset "UTF-8";

body {
    background-color: rgb(116, 116, 218);
}

h1 {
    text-align: center;
    color: antiquewhite;
}

div {
    background-color: antiquewhite;
    margin: auto;
    width: 400px;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
}

input {
    width: 200px;
    height: 30px;
    margin-top: 5px;
    

}

#contar {
    height: 30px;
    width: 80px;
}

footer {
    text-align: center;
}

