*{  
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classes auxiliares */

.ocultar{
    display: none !important;
}

/* *********************** */

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    width: 100%;
    height: 100vh;
}

.aba{
    background-color: #248;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    margin-right: 1px;
}

.abaSelecionada{
    background-color: #ddd !important;
}

.if_principal{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.btn_geral{
    background-color: #248;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}


/* CSS DA JANELA "novo" */

#novo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.elementosForm{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    border: 2px solid #000;
    margin-top: 20px;
}

.botoesForm{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.campoForm{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
 
}

.campoForm input{
    width: 100%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

/* FIM DA JANELA "novo" */


/* CSS DA JANELA "pesquisar" */

#pesquisa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 10px;
}

.campoPesq{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
 
}

input[type="text"]{
  
    padding: 5px;
    border-radius: 10px;
}

label{
    margin-right: 5px;
}

#dgv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
   
}

#resultado{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 800px;
}

.titulos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    background-color: #248;
    color: #fff;
    
}

.titulo{
    border-right: 1px solid #ddd;
    padding: 5px;

}

#dados{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        border: 2px solid #248;
}

.linhadados{

     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: row;
    width: 100%;
    background-color: #fff;
   
}

.coluna{
    padding: 5px;
    
}

.c1{
    width: 5%;
}

.c2{
    width: 15%;
}

.c3{
    width: 15%;
}

.c4{
    width: 30%;
}

.c5{
    width: 20%;
}

.c6{
    width: 15%;
}

.c_op{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* FIM DA JANELA "pesquisar" */


/* INICIO DA JANELA "gestão" */

.iconeop{
    width: 40%;
    cursor: pointer;
}

/* POPUP */

.fundopopup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 1000;
    margin-top: 5px;
}

.janelapopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    box-shadow: 0px 0px 10px #000;
    margin-top: 5px;
    margin-bottom: 5px;
}

.titulopopup{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #248;
    color: #fff;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    width: inherit;
}

.principalpopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: inherit;
    background-color: #ddd;
    padding: 5px;
}

.rodapepopup{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: inherit;
    background-color: #aaa;
    border-radius: 0px 0px 5px 5px;
}