@charset "UTF-8";

body{
    background-color: lightcyan;
}

.div_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    width: 300px;
    height: 350px;
    margin: auto;

}

h1{
    color: aquamarine;
}

#num{
    padding: 10px;
    border: 2px solid black;
    width: 100%;
}

#btn{
    margin-top: 30px;
    width: 100px;
    padding: 10px;
    background-color: aqua;
}

.res{
        
        color: antiquewhite;
        margin-top: 20px;
        width: 200px;
        text-indent: 15px;
        padding-left: 15px;
        font-size: 1.2em;
        font-weight: bolder;
}

.acerto{
    background-color: rgb(34, 34, 173);
    transition: 2s;
}

.erro{
    background-color: rgb(211, 19, 19);
    transition: 2s;
}