*{
    margin: 0;
    padding: 0;
    
}

:root{
    --azul-principal: #005288;
    --fundo-janela: #ccc;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.menuPrincipal{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 240px;
    height: 100vh;
    
}

.ocultar{
    left: -190px !important;
}


.menuItens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    height: 100vh;
   
}

.btn_menuPrincipal{
    cursor: pointer;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
   
}

.btn_menuPrincipal img{
    width: inherit;
    
}

.btn_menuItem{
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px;
    width: 150px;
    background-color: #888;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#fprincipal {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
}



/* Grids */

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloGrid{
    background-color: var(--azul-principal);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.colunaTituloGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dadosGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.linhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.colunaLinhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* */

/* topo da janela */
.topoJanela{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px; 
}

.btn_mainoper{
    background-color: var(--azul-principal);
    border-radius: 100px;
    cursor: pointer;
    width: 40px;
}

/* */


/* janela NOVO */


.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;  
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.janelaPopup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
   /* height: 50%;
    background-color: var(--fundo-janela);
    border: 5px solid var(--azul-principal);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000; */
}

.tituloPopup{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    background-color: var(--azul-principal);
    padding: 5px;
    border: 5px 5px 0px 0px;
    width: 100%;
}

.corpoPopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--fundo-janela);
    width: 100%;
    padding: 5px;
}

.rodapePopup{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--azul-principal);
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    width: 100%;
}

.btn_janelaoper{
    width: 20px;
    cursor: pointer;
}

.btn_comandoPopup{
    color: #fff;
    background-color: #012d4b;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.campoForm{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.campoForm input, .campoForm select{
    width: 100%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}
/* */