*{
    margin: 0;
    padding: 0;
}

.menuPrincipal{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 240px;
    height: 100vh;
    
}

.ocultar{
    left: -190px !important;
}


.menuItens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    height: 100vh;
   
}

.btn_menuPrincipal{
    cursor: pointer;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

}

.btn_menuPrincipal img{
    width: inherit;
    
}

.btn_menuItem{
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px;
    width: 150px;
    background-color: #888;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}



/* Grids */

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloGrid{
    background-color: #248;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.colunaTituloGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dadosGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.linhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.colunaLinhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* */